/*@import font*/

::selection {
  background-color: xyz;
  color: xyz;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  scroll-behavior: smooth;

  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  width: 400px;
  height: 200px;
  border: 1px solid #fff;
}
